@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import './variables.scss';
@import './checkout.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
}

label {
  color: $grey;
}

.relative {
  position: relative;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 80px;
}

/*
** Input field
*/
.form-field {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
  border-radius: 5px;

  & label {
    padding: 0 0 10px 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #767676;
  }

  & input {
    padding: 12px 10px;
    border: 1px solid #222;

    &:focus {
      border: 1px solid #5ECE7B;
      outline: none;
    }
  }

  &__errors {
    padding: 0;
    margin: 15px 0 0 0;

    &-item {
      position: relative;
      font-size: 14px;

      &::before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #222;
        position: absolute;
        top: 50%;
        left: -3%;
        transform: translate(-50%, -50%)
      }
    }
  }

  &.hasError {
    // & label {
    //   padding: 0 0 10px 0;
    //   text-transform: uppercase;
    //   font-weight: 700;
    //   color: #767676;
    // }

    & input {
      border: 1px solid red;

      &:focus {
        border: 1px solid red;
        outline: none;
      }
    }
  }

	&__password-level {
		margin: -2px 0 6px;
		font-size: 0;
		line-height: 1;

		&--half {
			width: 50%;
			padding: 0 0 0 2px;
		}

		& span {
			display: inline-block;
			width: calc(20% - 1px);
			height: 2px;
			margin-right: 1px;
			vertical-align: top;
			background: $green;
		}
	}
}

.custom-button {
  width: 100%;
  color: #fff;
  border: none;
  background: #151515;
  padding: 7.5px 0;
}


/*
Product Card
*/
.product-card:hover {
  & .product-card {
    &__header {
      &_bar {
        transform: translate(-50%, -111%);
      }
    }

    &__footer {
      & .product-price {
        transform: translate(50%);
        opacity: 0;
      }

      &-btn {
        transform: translate(0);
        opacity: 1;
      }
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &__header {
    position: relative;
    overflow: hidden;

    &_bar {

      color: #fff;
      font-size: 12px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 50%);
      transition: all .3s ease-in-out;

      &-quick-view {
        background: #222;
        padding: 5px 10px;
        cursor: pointer;
      }
    }
  }

  &__image {
    width: 100%;
  }

  &__body {
    &-title {
      font-size: 18px;
      padding: 10px 0;
    }

    &-description {
      font-size: 14px;
    }
  }

  &__footer {
    margin-top: auto;
    position: relative;

    & .product-price {
      transition: all .3s ease-in-out;
    }

    &-btn {
      font-size: 16px;
      font-weight: 500;
      text-align: left;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      position: absolute;
      transform: translate(-100%);
      transition: all .3s ease-in-out;
      opacity: 0;
      color: #767676;
      background: none;
      border: none;
      padding: 10px 0;
      cursor: pointer;
    }
  }

  &__discount {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 10px;
    background: #111;

    & span {
      color: #fff;
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.notification-message {
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  margin: 0 0 10px 0;
}

.error-message {
  background: $pink; 
}
