@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import './checkout.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

.relative {
  position: relative;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
}
/*
** Input field
*/
.form-field {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;

  & label {
    padding: 0 0 10px 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #767676;
  }

  & input {
    padding: 12px 10px;
    border: 1px solid #222;

    &:focus {
      border: 1px solid #5ECE7B;
      outline: none;
    }
  }

  &__errors {
    padding: 0 0 0 25px;
    margin: 15px 0 0 0;

    &-item {
      position: relative;
      font-size: 14px;

      &::before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #222;
        position: absolute;
        top: 50%;
        left: -3%;
        transform: translate(-50%, -50%)
      }
    }
  }

  &.hasError {
    // & label {
    //   padding: 0 0 10px 0;
    //   text-transform: uppercase;
    //   font-weight: 700;
    //   color: #767676;
    // }
  
    & input {
      border: 1px solid red;
      &:focus {
        border: 1px solid red;
        outline: none;
      }
    }
  }
}
